{% extends "base.html" %}

{% block title %} Sign-up Page {% endblock %}

<!-- Block content  -->
{% block content %}

<!-- <h1>My Sign Up Page</h1> -->

<form method="POST">
    <h3 align="center">Sign Up</h3>
    <h5 align="center">Please complete fill the details below: </h5>

    <div class="form-row">
        <div class="col-lg-8">
            <div class="form-group">
                <label for="firstName">First Name </label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                    placeholder="Enter your first name" aria-describedby="emailHelp">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-lg-8">
            <div class="form-group">
                <label for="lastName">Last Name </label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name"
                    aria-describedby="emailHelp">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-8">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                    aria-describedby="emailHelp">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-lg-8">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}